@charset "utf-8";
@import url("font.css");

/** ---------------------------- MainPage Elements and Common Values ---------------------------- **/
body{
    padding: 0;
    margin: 0;
    color:#A8A7A6;
    background-color:#0C0C0C;
}



.navigationBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.navigationBar li {
    float: left;
}

.navigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationBar li a:hover {
    cursor: pointer;
    background-color: #111;
}

#leftNavigationBar{
    display: inline-block;
    height: 100%;
    width: 9.9%;
    align-items: start;
}

#fragmentContainer {
    display: inline-block;
    width: 80%;
}

#progressBarDialog,
#changePasswordDialog,
#editDataDialog,
#profileViewDialog,
#dialog {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}


#changePasswordDialogContent,
#editDataDialogContent,
#profileViewDialogContent,
#progressBarDialogContent,
#content {
    background-color: #313131;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888888;
    height: fit-content;
    width: 50%;

}

#addDataDialog {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#addDataDialogContent {
    background-color: #313131;
    margin: 8% auto;
    padding: 20px;
    border: 1px solid #888888;
    height: fit-content;
    width: 50%;

}


#progressBarDialogContent,
#profileViewDialogContent {
    text-align: center;
}

#profileViewDialogContent img{
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#profileViewDialogContent *{
    margin: 3px;
}

#profileViewDialogContent img:hover{
    opacity: 60%;
    cursor: pointer;
}

#profileViewDialogContent button{
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 0;
}

#profilePictureChangeConfirmation{
    display: none;
    text-align: center;
}

#profilePictureChangeConfirmation button{
    background-color: #4CAF50;
    display: inline-block;
    width : 40%;
    margin-left: 3px;
    margin-right: 3px;
}

button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

.cancelButton {
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #f44336;
}

.btn{
    text-transform: uppercase;
    width: 100%;
    color:#FFFFFF;
    background-color:#EA5616;
    display:block;
    padding:8px 18px 10px;
    border: 1px solid #EA5616;
}

#progressBarContainer{
    padding: 1px;
    margin: 0;
    border: black solid 2px;
    width: 100%;
    height: 20px;
}

#progressBar{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    width: 0;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 5;
    left: 50%;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

input[type=text], input[type=password], input[type=date] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#addDataDialogContent button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#inflateContent {
    max-height: 280px;
    min-height: 280px;
    overflow: auto
}

#extraContentContainer{
    margin-top : 5px;
}

#scrollToTopButton {
    display: none;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #393a3a;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
}

#scrollToTopButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

button:hover {
    opacity: 0.8;
}

#cancelButton {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    background-color: #f44336;
}

.submitButton{
    color : white;
    background-color: green;
}

/** Template **/
.row0 *,.row0 *::before,.row0 *::after{transition:all .28s ease-in-out;}
.row0 nav ul, .row0 nav ol{margin:0; padding:0; list-style:none;}
.row0, .row0 a{color:#A8A7A6; background-color:#222222;}
.row0 a:hover{color:#EA5616;}
.row0 a{color:#EA5616;}
.row0, .row0 a{
    color:#A8A7A6;
    background-color:#222222
;}
.row0{
    text-align: center;
}
.row0 a:hover{
    cursor: pointer;
    color:#EA5616;
}
.row0 a:active,.row0 a:focus{background:transparent;}
.row0 label span{color:#FF0000; background-color:inherit;}

#TopHeader{
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.6em;
    color: #A8A7A6;
    transition: all .28s ease-in-out;
    display: inline-block;
    clear: both;
    width: max-content;
    padding: 15px 0;
    font-size: .8rem;
    text-align: center;
}
#TopHeader *{
    margin:0;
    padding:0;
    list-style:none;
}
#TopHeader ul li{
    display:inline-block;
    margin-right:10px;
    padding-right:15px;
}
#TopHeader ul li:last-child{
    margin-right:0;
    padding-right:0;
    border-right:none;
}
#TopHeader i{
    margin:0 5px 0 0;
    line-height:normal;
}

#TopHeader a i{
    margin-right:0;
}

#currentUser{
    margin-right: 1%;
    margin-top : 1%;
    width: auto;
    float: right;
    display: inline-block;
}

#currentUser:hover{
    opacity: 60%;
    cursor: pointer;
}

#currentUser img{
    margin: 0 0 0 3px;
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
    width: 30px;
    height: 30px;
}

#currentUser p{
    display: inline-block;
    margin: 0;
}


/** ---------------------------- Forum Fragment Elements ---------------------------- **/

/** Forum List Elements **/
.userListContainer,
.commentsContainer,
.forumList {
    margin: 8px 0 0 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #292d2d;
}

.userListContainer li,
.commentsContainer li,
.forumList  li  {
    margin: 8px;
    color: white;
}

.forumList  li{
    margin: 20px;
}

.forumHeader img{
    border-radius: 50%;
    margin: 0;
    object-fit: cover;
    width: 50px;
    height: 50px;
}
.forumHeader h1{
    display: inline-block;
    margin: 0;
}
.forumHeader p {
    display: inline-block;
    margin: 3px;
    float: right;
}

.forumContent h3{
    margin-bottom: 0;
}

.forumContent  p{
    margin-top: 0;
}

.forumContent video{
    width: 80%;
    max-height: 600px;
    margin-left: 10%;
}

.forumContent img{
    width: 80%;
    max-height: 600px;
    margin-left: 10%;
    object-fit: contain;
}

.forumContent div{
    margin: 0 8%;
    padding: 3%;
    border-radius: 10%;
    border: 2px solid black;
}

.forumContent div p{
    display: inline-block;
    margin: 0 1%;
}

.forumContent .downloadFileButton{
    cursor: pointer;
    float: right;
}

.forumContent div img{
    width: 32px;
    height: 32px;
    margin : 0;
}

.forumFooter {
    margin-top: 10px;
}

.forumFooter p{
    cursor: pointer;
    display: inline-block;
    width: 32.97%;
    text-align: center;
    margin: 0;
}
.forumFooter button{
    display: inline-block;
    width: 32.97%;
    text-align: center;
    margin: 0;
    border-radius: 20%;
    height: 50px;
    background-color: rgb(43, 43, 43);
}

.forumFooter .likeButton{
    color: rgb(123, 255, 27);;
}

.forumFooter .disLikeButton{
    color: rgb(255, 42, 42);
}

.forumFooter .commentButton{
    color: rgb(47, 46, 255);;
}

/** Comment Elements **/
.commentsContainer img{
    border-radius: 50%;
    margin: 0;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.commentsContainer h2{
    display: inline-block;
    margin: 0;
}

.commentsContainer p{
    margin: 0;
}

.commentsContainer .commentDate{
    font-size: 10px;
}

.submitNewComment input{
    width: 80%;
}

.submitNewComment button{
    width: 18%;
}

/** User List Elements **/
.userListContainer img{
    border-radius: 50%;
    margin: 0;
    object-fit: cover;
    width: 50px;
    height: 50px;
}

.userListContainer h2{
    display: inline-block;
    margin: 0;
}

/** Add New Forum **/
#newForumSubject{
    width : 100%;
    max-width: 100%;
    min-width: 100%;
    height: 30px;
    max-height: 50px;
    min-height: 30px;
    background-color: #3a3e3e;
    color: white;
}

#newForumText{
    width : 100%;
    max-width: 100%;
    min-width: 100%;
    height : 100px;
    min-height: 80px;
    max-height: 200px;
    background-color: #3a3e3e;
    color: white;
}
#addNewForumContainer{
    text-align: center;
    margin-top: 10px;
    padding: 3%;
    align-items: center;
    background-color: #292d2d;

}

#addNewForumContainer button{
    cursor: pointer;
    width: 50%;
    height: 50px;
    border-radius: 20%;
    margin-top: 3px;
}

#addNewForumContainer h3{
    text-align: center;
}

#addNewForumContainer img{
    cursor: pointer;
    margin-top: 10px;
    margin-left: 0;
    width: 30px;
    height: 30px;
}

#fileInputContainer{
    margin: 20px;
    text-align: center;
}

.roundIconContainer{
    align-items: center;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #636363;
}
.roundIconContainer:hover{
    opacity: 60%;
}

#progressDialogContentContainer{
    text-align: center;
}

#progressBarContainer{
    padding: 1px;
    margin: 0;
    border: black solid 2px;
    width: 100%;
    height: 20px;
}
#progressBar{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    width: 0;
}



/** ---------------------------- Messaging Fragment Elements ---------------------------- **/

#contactNavigationContainer{
    margin-top : 10px;
    background-color: #292d2d;
    display: inline-block;
    width : 30%;
    height: available;
}

#contactNavigationContainer ul {
    list-style:none;
    margin: 1px;
    padding: 0;
    overflow: auto;
}

#contactNavigationContainer li{
    background-color: #3a3e3e;
    margin: 1px 3px;
    cursor: pointer;
}

#contactNavigationContainer li img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    display: inline-block;
}
#contactNavigationContainer li h3{
    display: inline-block;
}

#startNewConversationButton{
    color: white;
    background-color: #4CAF50;
    text-align: center;
    padding: 2%;
    margin: 0;
    width: 95%;
}

#messageViewContainer{
    background-color: #292d2d;
    display: inline-block;
    margin-left: 1%;
    width : 69%;
    height: 100%;
}