/*----------------------------footer----------------------------*/

footer p{
    color : white;
    margin: 0;
    background-color: red;
    padding : 10px 5%;
}

footer p a{
    color : inherit;
}

footer p a:visited{
    color : white;
    margin: 0;
    background-color: red;
    padding : 10px 5%;
}

/*----------------------------/footer----------------------------*/
